/* div{
    height:200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
    background-color: cadetblue;
    padding: 10px;
} */
 /* practice question */
 .dark{
    background-color: black;
    color: aliceblue;
 }
 .light{
    background-color: azure;
    color: black;
 }