/* .Heading{
    color: brown;
    background-color: antiquewhite;
}
body{
    background-color: rgba(212, 8, 8, 0.84);
}
#id1{
    background-color: bisque;
} */
 /* practice question no2 */
 /* .box{
    height: 200px;
    width: 200px;
    border: 2px black solid;
    margin: 5px;
    text-align: center;} */
    /* #box{
    height: 200px;
    width: 150px;
    border: 1px solid black;
    background-color: blue;
    color: white;
    border-radius: 2px;
padding: 20px;
} */
 /* practice question no 2
  */
  .class{
    color:aquamarine;
    background-color: black;
  }
  .content{
    background-color: brown;
  }