.navbar{
    background-color: rgb(20, 177, 220);
    display: flex;
    justify-content:space-evenly;
   
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style-type: none;
    display: inline-block;
    
}
.outer{

    height:500px;
    width:500px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner{
    height:250px;
    width:250px;
    background-color: darkgoldenrod;

}